.individual-recipe {
  margin: 10px 5px;
  padding: 16px;
  background-color: rgb(238, 226, 208, 0.5);
  border-radius: 15px;
  display: flex;
  gap: 110px;

  &__couple {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .image {
      background: rgba(238, 226, 208, 0.5);
      width: 200px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      & > img.individual-recipe__image {
        max-width: 100%;
        max-height: 100%;
        display: block;
        object-fit: cover;
        aspect-ratio: 2 / 1;
        border-radius: 6px;
      }

      .individual-recipe__image-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    }

    &--fix {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
  }

  &__item {
    width: 200px;
    font-size: 20px;
    font-weight: 600;
  }

  &__sub-couple {
    display: flex;
    width: 200px;
    gap: 20px;
  }
}
